#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#<FilesMatch "\.(ico|pdf|flv|jpe?g|png|gif|js|css|swf)$">
#    ExpiresActive On
#    ExpiresDefault "access plus 30 days"
#</FilesMatch>
