@CHARSET "ISO-8859-1";

img{
	margin:0px;
	padding:0px;
}

body{
	line-height:0px;
}

#image-container{
	margin:0px auto;
}

#image-container img{
	position:absolute;
}

.image-wrapper{
	vertical-align:bottom;
	height:300px;
	background-repeat:no-repeat;
	background-position:bottom center;
}

.clipped{
	overflow:hidden;
	height:150px;
	background-position:bottom center;
	background-repeat:no-repeat;
}

#image-main{
	margin:0px auto;
	display:block;
}

#image-counter{
	width: 85px;
	font-size:16px;
	font-weight:bold;
	margin:2px;
	padding:0px;
}
#loading{
	position:absolute;
	display:none;
}
#loading img{
	position:relative;
}
#loading .inner{
	width:200px;
	margin:0px auto;
	background-color:#FFF;
	padding:20px 40px;
	font-size:24px;
}
#loading .inner i{
	padding-left:20px;
	margin-bottom:13px;
	display:inline-block;
}

#image-nav{
	float:right;
	width:200px;
}
#image-nav li{
	display:block;
	font-size:14px;
	line-height:16px;
}